html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    height: 100%;
}

.button-like {
    display: inline-block;
    background-color: rgb(58, 53, 71);
    color: white;
    border: none;
    padding: 8px 16px; /* Adjust padding as needed */
    text-decoration: none;
    cursor: pointer;
    line-height: 1.5
}

.button-like:hover {
    background-color: rgb(106, 102, 114);
}

nav {
    background-color: rgb(93, 87, 107);
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-sizing: border-box
}

nav h1 {
    color: white;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    background-color: rgb(106, 102, 114);
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section button {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.caption {
    width: 100%;
    text-align: center;
    margin: 28px auto;
    font-family: Arial, sans-serif;
}

.caption h2 {
    font-size: 50px;
    font-weight: bold;
}

.caption button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.features {
    margin-top: 20px;
    background-color: rgb(93, 87, 107);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.features h3 {
    font-size: 16px;
    color: white;
    padding-top: 40px;
}

.features h2 {
    font-size: 40px;
    color: white;
    margin-top: -10px;
}

.features {
    background-color: rgb(93, 87, 107);
    padding-bottom: 65px;
}

.features h1 {
    font-size: 14px;
    color: white;
    text-align: center;
    width: 100%;
}

.features h2 {
    font-size: 36px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 1px;
}

.featuresContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%; /* Decreased gap value */
    width: 100%;
    color: white;
}

.feature {
    background-color: rgb(101, 96, 115);
    padding: 40px;
    margin-top: 20px;
    text-align: left;
    align-items: start;
}

.feature p {
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 37px;
}

.featureName p {
    font-size: 24px;
    color: white;
    text-align: left;
    margin-top: 2px;
    margin-left: 10px;
    font-weight: bold;
}

.featureName {
    display: flex;
    height: 32px;
}


footer {
    color: black;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer h2 {
    font-size: 24px;
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li a {
    color: black;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.subsiteContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* Full viewport height */
}

.subsiteContent {
    background-color: rgb(93, 87, 107);
    flex-grow: 1; /* Allow it to expand */
    text-align: center;
    padding-top: 10px;
}

.subsiteContent h1 {
    font-size: 28px;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 2%;
}

.exercise-bar {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.exercise-bar span {
    font-size: 18px;
    color: white;
}

.exercise-actions {
    flex-shrink: 0;
}

.workout-plan-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.workout-plan-bar {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

.workout-plan-bar h3 {
    font-size: 24px;
    color: white;
}

.workout-plan-bar span {
    font-size: 20px;
    color: white;
}

.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem; /* Adjust font size as needed */
    line-height: 1.5;
    border-radius: 0.1rem;
    margin-right: 10px;
    align-self: center;
}

.exercise-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.view-button, .delete-button {
    padding: 5px 10px;
    cursor: pointer;
}

.list {
    margin-top: 10px;
}

.list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin-bottom: 5px;
}