<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Add exercise</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:insert="/navbar::navbar"></div>

<br /><br />
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Edit exercise</h2>
        </div>

        <div th:if="${param.success}">
            <div class="alert alert-info">
                You have successfully edited an exercise!
            </div>
        </div>

        <div class="card-body">
            <form
                    name="_method"
                    th:value="PUT"
                    role="form"
                    th:action="@{/exercise/edit/${exercise.id}}"
                    th:object="${exercise}"
                    class="form-horizontal"
            >
                <div class="form-group mb-3">
                    <label class="control-label">Name</label>
                    <input
                            type="text"
                            id="name"
                            name="name"
                            th:field="*{name}"
                            class="form-control"
                    />
                    <p th:errors = "*{name}" class="text-danger"
                       th:if="${#fields.hasErrors('name')}"></p>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Description</label>
                    <input
                            type="text"
                            id="description"
                            name="description"
                            class="form-control"
                            th:field="*{description}"
                    />
                    <p th:errors = "*{description}" class="text-danger"
                       th:if="${#fields.hasErrors('description')}"></p>
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>