<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gym Bro- exercises</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <div th:insert="/navbar::navbar"></div>

    <div class="caption">
        <h2>Your exercises</h2>
        <a class="button-like" th:href="@{/addexercise}">Add exercise</a>
    </div>

    <div class="subsiteContainer"><
        <div class="subsiteContent">
            <div th:if="${param.addsuccess}">
                <div class="alert alert-info">
                    You have successfully added an exercise.
                </div>
            </div>
            <div th:if="${param.editsuccess}">
                <div class="alert alert-info">
                    You have successfully edited an exercise.
                </div>
            </div>
            <div th:if="${param.deletesuccess}">
                <div class="alert alert-info">
                    You have successfully deleted an exercise.
                </div>
            </div>
            <div th:if="${param.deletefail}">
                <div class="alert alert-danger">
                    This exercise is present in at least 1 workout plan. Can't be deleted!
                </div>
            </div>

            <div th:if="${#lists.isEmpty(exercises)}">
                <h1>No exercises found. Add some!</h1>
            </div>

            <div th:if="${not #lists.isEmpty(exercises)}">
                <div th:each="exercise : ${exercises}" class="exercise-bar">
                    <span th:text="${exercise.name}">Exercise Name</span>

                    <div class="exercise-actions">
                            <form action="#" th:action="@{'/exercises/delete/{id}'(id=${exercise.id})}" th:method="delete">
                                <button class="btn btn-primary" type="button" th:attr="data-bs-toggle='modal', data-bs-target='#descriptionModal-' + ${exercise.id}">View Description</button>
                                <a class="btn btn-primary" th:href="@{'/exercises/edit/{id}'(id=${exercise.id})}">Edit</a>
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                    </div>

                    <!-- Description modal -->
                    <div class="modal fade" th:id="'descriptionModal-' + ${exercise.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" th:text="${exercise.name}">Title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h2 th:text="${exercise.description}">Description</h2>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
</html>