<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gym Bro- exercises</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:insert="/navbar::navbar"></div>

    <div class="caption">
        <h2>Your exercises</h2>
    </div>

    <div class="subsiteContent">
        <div th:if="${#lists.isEmpty(exercises)}">
            <h1>No exercises found. Add some!</h1>
            <a class="button-like" th:href="@{/addexercise}">Add exercise</a>
        </div>
    </div>

    <div th:insert="/footer::footer"></div>
</body>
</html>