<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gym Bro- exercises</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:insert="/navbar::navbar"></div>

    <div class="caption">
        <h2>Your exercises</h2>
        <a class="button-like" th:href="@{/addexercise}">Add exercise</a>
    </div>

    <div class="subsiteContent">
        <div th:if="${#lists.isEmpty(exercises)}">
            <h1>No exercises found. Add some!</h1>
        </div>

        <div th:if="${not #lists.isEmpty(exercises)}">
            <div th:each="exercise : ${exercises}" class="exercise-bar">
                <span th:text="${exercise.name}">Exercise Name</span>

                <div class="exercise-actions">
                    <button class="view-button">View Description</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>