<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
    <footer th::fragment="footer">
        <h2>GYM BRO</h2>
        <ul>
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a href="http://localhost:8080/progress">Progress</a></li>
            <li><a href="http://localhost:8080/workouts">Workouts</a></li>
            <li><a href="http://localhost:8080/stats">Stats</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </footer>
</body>
</html>