<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gym Bro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div th:insert="/navbar::navbar"></div>

    <div class="caption">
        <h2>Track Your Gym Progress</h2>
        <div>
            <button>Get Started</button>
            <button>Learn More</button>
        </div>
    </div>

    <div class="features">
        <h1>FEATURES</h1>
        <h2>Achieve Your Fitness Goals</h2>
        <div class="featuresContainer">
            <div class="feature">
                <div class="featureName">
                    <img src="https://i.imgur.com/757gs6o.png" width="32px" height="32px" alt="">
                    <p>Workout Logging</p>
                </div>

                <p>Easily log your workouts, including details such as exercise name, weight lifted, number of series, and repetitions.</p>
            </div>

            <div class="feature">
                <div class="featureName">
                    <img src="https://i.imgur.com/757gs6o.png" width="32px" height="32px" alt="">
                    <p>Progress Tracking</p>
                </div>

                <p>Keep track of your progress over time by monitoring changes in your performance for each exercise.</p>
            </div>

            <div class="feature">
                <div class="featureName">
                    <img src="https://i.imgur.com/757gs6o.png" width="32px" height="32px" alt="">
                    <p>User-friendly Interface</p>
                </div>

                <p>Gym Bro offers a clean and intuitive interface, making it easy to navigate and use for users of all levels.</p>
            </div>

            <div class="feature">
                <div class="featureName">
                    <img src="https://i.imgur.com/757gs6o.png" width="32px" height="32px" alt="">
                    <p>Secure and Private</p>
                </div>

                <p>Your workout data is securely stored and accessible only to you, ensuring your privacy and confidentiality.</p>
            </div>

        </div>
    </div>
</body>
</html>