<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>

</head>
<body>
    <div th:fragment="navbar">
        <nav>
            <h1>GYM BRO</h1>
            <ul>
                <li><a href="http://localhost:8080/">Home</a></li>
                <li><a href="http://localhost:8080/workouts">Workouts</a></li>
                <li><a href="http://localhost:8080/exercises">Exercises</a></li>
                <li><a href="http://localhost:8080/progress">Progress</a></li>
                <li><a href="http://localhost:8080/stats">Stats</a></li>
            </ul>
            <div class="right-section">
                <div sec:authorize="isAnonymous()">
                    <a class="button-like" th:href="@{/login}">Login</a>
                    <a class="button-like" th:href="@{/register}">Register</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                     <a class="button-like" th:href="@{/logout}">Log out</a>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>